.landing .about {
  width: 100%;
  display: inherit;
  flex-direction: column;
  gap: 2rem;
  padding: var(--spacing-inline);
  padding-bottom: 0rem;
}

.about .components-list {
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.about .imaged-card {
  max-width: 40%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  display: inline-block;
  position: relative;
}
.about .imaged-card img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  aspect-ratio: inherit;
}
.about .imaged-card:nth-child(even) {
  border-radius: 5rem 1rem;
}
.about .components-list p {
  display: none;
  flex: 1;
  width: 100%;
  padding-inline: 0;
}

.about .colored-span {
  color: var(--primary);
}

.about .right-specs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: end;
}

.about .spec-item {
  flex: 1;
}

.about .spacer {
  display: none;
}

/* Tablet */
@media (min-width: 768px) {
  .landing .about {
    gap: 8rem;
  }

  .about .components-list {
    justify-content: center;
  }

  .about .imaged-card {
    max-width: 40%;
  }

  .about .spacer {
    display: flex;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .about .imaged-card {
    max-width: 20%;
  }

  .about .components-list {
    justify-content: start;
  }

  .about .components-list p {
    display: flex;
    padding-inline: 4rem;
  }
}
