.landing .about {
  width: 100%;
  padding: var(--spacing-inline);
  padding-bottom: 0rem;
  display: inherit;
  flex-direction: column;
  gap: 8rem;
}

.about .components-list {
  align-items: center;
  gap: 1.5rem;
}

.about .imaged-card {
  max-width: 20%;
  height: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  display: inline-block;
  position: relative;
}
.about .imaged-card img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  aspect-ratio: inherit;
}
.about .imaged-card:nth-child(even) {
  border-radius: 5rem 1rem;
}
.about .components-list p {
  flex: 1;
  width: 100%;
  padding-inline: 4rem;
}

.about .colored-span {
  color: var(--primary);
}
