.landing .cta {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: var(--spacing-inline);
  text-align: center;
  margin-bottom: 4rem;
}

.cta .text-container,
.cta .decoration-container {
  flex: 1;
  width: 80%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cta .decoration-container {
  display: none;
  justify-content: space-between;
  padding: 2rem;
}
.cta .decoration-container img {
  width: 100%;
  height: inherit;
  border-radius: inherit;
}
.cta .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .landing .cta {
    flex-direction: row;
  }

  .cta .text-container,
  .cta .decoration-container {
    width: 40%;
    min-height: 60vh;
  }

  .cta .decoration-container {
    display: flex;
  }
}
