.landing .cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: var(--spacing-inline);
  text-align: center;
}

.cta .text-container,
.cta .decoration-container {
  flex: 1;
  width: 40%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.cta .decoration-container {
  justify-content: space-between;
  padding: 2rem;
}
.cta .decoration-container img {
  width: 100%;
  height: inherit;
  border-radius: inherit;
}
.cta .decoration-container .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
