.landing .hero {
  width: 100%;
  min-height: 60vh;
  padding: var(--tiny-spacing-inline);
}

.landing .hero .lead {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-inline: calc(var(--spacing-inline) - var(--tiny-spacing-inline));
  padding-block: 4rem var(--spacing-inline);
}
.landing .hero .lead > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.landing .actions {
  flex: 3;
  gap: 1rem;
}

.landing .hero .title {
  flex: 5;
  /* text-align: justify; */
  color: var(--secondary);
}

.landing .hero .card.imaged-card {
  width: 100%;
  min-height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  padding: 1rem;
}

.hero .imaged-card .steps-container,
.hero .imaged-card .card-actions {
  z-index: 1;
  display: flex;
  align-items: center;
}
.hero .imaged-card .card-actions {
  max-width: 100%;
  text-align: end;
  background-color: rgba(var(--card-rgb), 0.2);
}

.hero-cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.hero .imaged-card .steps-container {
  width: 100%;
  gap: 0.25rem;
  list-style: none;
  justify-content: end;
}
.hero .imaged-card .step-item {
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgba(var(--card-rgb), 0.2);
  transition: background 0.4s ease;
  cursor: pointer;
}
.hero .imaged-card .step-item *,
.hero .imaged-card .card-actions * {
  color: var(--bg);
}
.hero .imaged-card .step-item:hover,
.hero .imaged-card .step-item.active {
  background-color: var(--card);
}

.hero .imaged-card .step-item:hover *,
.hero .imaged-card .step-item.active * {
  color: var(--text);
}

@media (min-width: 768px) {
  .landing .hero .lead {
    flex-direction: row;
    gap: 8rem;
  }

  .landing .actions {
    gap: 2rem;
  }

  .landing .hero .card.imaged-card {
    flex-direction: row;
    padding: 2rem;
  }

  .hero .imaged-card .card-actions {
    max-width: 50%;
  }

  .hero .imaged-card .steps-container {
    gap: 0.5rem;
    justify-content: start;
  }

  .hero .imaged-card .step-item {
    padding: 0.5rem 1.5rem;
  }
}
