.landing .hero {
  width: 100%;
  min-height: 60vh;
  padding: var(--tiny-spacing-inline);
}

.landing .hero .lead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8rem;
  padding-inline: calc(var(--spacing-inline) - var(--tiny-spacing-inline));
  padding-bottom: 2rem;
}
.landing .hero .lead > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.landing .actions {
  flex: 3;
  gap: 2rem;
}

.landing .hero .title {
  flex: 5;
  /* text-align: justify; */
  color: var(--secondary);
}

.landing .hero .card.imaged-card {
  min-height: 70vh;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding: 2rem !important;
}

.hero .imaged-card .steps-container,
.hero .imaged-card .card-actions {
  z-index: 1;
  display: flex;
  align-items: center;
}
.hero .imaged-card .card-actions {
  max-width: 50%;
  text-align: end;
}
.hero-cta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.hero .imaged-card .steps-container {
  gap: 0.5rem;
  list-style: none;
}
.hero .imaged-card .step-item {
  padding: 0.5rem 1.5rem;
  border-radius: 0.75rem;
  background-color: rgba(var(--card-rgb), 0.5);
  transition: background 0.4s ease;
}
.hero .imaged-card .step-item:hover,
.hero .imaged-card .step-item.active {
  background-color: var(--card);
}
