.landing .services {
  position: relative;
  width: 100%;
  padding: var(--spacing-inline);
}

.landing .card.service-container {
  min-height: 70vh;
  padding: 4rem;
  flex-direction: row;
  align-items: end;
  background-color: var(--text);
}
.landing .card.service-container > div {
  flex: 1;
}
.landing .card.service-container * {
  color: var(--bg);
}

.landing .services .title {
  background-color: var(--on-secondary);
  color: var(--secondary);
}

.landing .services .service-icon-container {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 0.75rem;
  padding: 0;
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.6s ease-in-out;
}

.landing .services .content-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card.big-pic-container {
  position: absolute;
  top: -240px;
  left: 180px;
  z-index: 3;
  width: 30vw;
  height: 60vh;
  border-radius: 2rem;
  padding: 0;
  border: none;
}

.big-pic-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  aspect-ratio: inherit;
  border-radius: inherit;
}

.services .service-item {
  cursor: pointer;
}
.services .service-item * {
  transition: color 0.3s ease-in-out;
}
.services .service-item:hover .service-icon-container {
  background-color: rgba(var(--primary-rgb), 0.25);
}
.services .service-item:hover * {
  color: var(--primary);
  fill: var(--primary);
}
