.landing .services {
  position: relative;
  width: 100%;
  padding: var(--spacing-inline);
}

.landing .card.service-container {
  min-height: 70vh;
  padding: 4rem;
  flex-direction: row;
  align-items: end;
  background-color: var(--text);
}
.landing .card.service-container > div {
  flex: 1;
}
.landing .card.service-container * {
  color: var(--bg);
}

.landing .services .title {
  background-color: var(--on-secondary);
  color: var(--secondary);
}

.landing .services .service-icon-container {
  height: 60px;
  aspect-ratio: 1;
  border-radius: 0.75rem;
  padding: 0.25rem;
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing .services .content-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card.big-pic-container {
  position: absolute;
  top: -240px;
  left: 180px;
  z-index: 3;
  width: 30vw;
  height: 60vh;
  border-radius: 2rem;
  padding: 0;
  border: none;
}

.big-pic-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  aspect-ratio: inherit;
  border-radius: inherit;
}
