.landing .services {
  position: relative;
  width: 100%;
  padding: var(--spacing-inline);
}

.landing .card.service-container {
  min-height: 70vh;
  padding: 2rem;
  flex-direction: column;
  align-items: end;
  background-color: var(--text);
}
.landing .card.service-container > div {
  flex: 1;
}
.landing .card.service-container * {
  color: var(--bg);
}

.landing .services .title {
  background-color: var(--on-secondary);
  color: var(--secondary);
}

.landing .services .service-icon-container {
  width: fit-content;
  height: 60px;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 0.75rem;
  background-color: var(--border-color);
  transition: color 0.6s ease-in-out;
}

.landing .services .content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card.big-pic-container {
  position: absolute;
  top: -240px;
  left: 180px;
  z-index: 3;
  width: 30vw;
  height: 60vh;
  display: none;
  padding: 0;
  border-radius: 2rem;
  border: none;
}

.big-pic-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  aspect-ratio: inherit;
  border-radius: inherit;
}

.services .service-item {
  flex: 1;
  min-width: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.services .service-item * {
  transition: color 0.3s ease-in-out;
}
.services .service-item:hover .service-icon-container {
  background-color: rgba(var(--primary-rgb), 0.25);
}
.services .service-item:hover * {
  color: var(--primary);
  fill: var(--primary);
}

.services .service-info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.services .button-container {
  justify-content: end;
}

.service-item-container {
  gap: 1.5rem ;
  margin-top: 1.5rem;
}

/* Tablet */
@media (min-width: 768px) {
  .landing .card.service-container {
    flex-direction: row;
    padding: 4rem;
  }

  .landing .services .content-container {
    gap: 4rem;
  }

  .services .button-container {
    justify-content: start;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .card.big-pic-container {
    display: flex;
  }
}
