.cust-stories {
  width: 100%;
  padding: var(--spacing-inline);
}

.cust-stories .lead {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.cust-stories .caption-container {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: start;
}

.cust-stories .button-container.desktop {
  display: none;
  justify-content: end;
}
.cust-stories .button-container.mobile {
  display: flex;
  justify-content: end; 
}

.cust-stories .flex-slider {
  gap: 1rem;
  padding-block: 1rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.cust-stories .client-container {
  flex: 2;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0;
  padding: 2rem;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  transition: flex 0.4s ease, transform 0.3s ease, color 0.2s ease-in-out;
  cursor: pointer;
}
.cust-stories .client-container:hover {
  flex: 3;
  transform: scale3d(1.02) !important;
}
.cust-stories .client-container * {
  z-index: 3;
  background-color: var(--bg);
  padding: 0 0.5rem;
  transition: color 0.2s ease-in-out;
}
.cust-stories .client-container:hover * {
  background-color: var(--primary);
  color: var(--on-primary);
}

.cust-stories .heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.cust-stories .title-container {
  width: 100%;
}

@media (min-width: 768px) {
  .cust-stories .lead {
    flex-direction: row;
    align-items: end;
  }

  .cust-stories .caption-container {
    max-width: 30vw;
    text-align: end;
  }

  .cust-stories .client-container {
    min-height: 50vh;
  }

  .cust-stories .button-container.desktop {
    display: flex;
  }
  .cust-stories .button-container.mobile {
    display: none;
  }

  .cust-stories .heading-container {
    flex-direction: column;
    align-items: start;
  }

  /* crutial */
  .cust-stories .flex-slider {
    display: flex;
    padding-block: 4rem;
  }
}
