.landing .title-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.landing .title-container .title {
  width: fit-content;
  background-color: var(--primary);
  padding: 0.25rem 1rem;
  border-radius: 360px;
  color: var(--on-primary);
}
.landing .title-container .faded {
  color: var(--n400);
}

.landing .imaged-card {
  position: relative;
  padding: 0;
}
.landing .imaged-card::before {
  z-index: 0;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(var(--n700-rgb), 0.5);
  pointer-events: none;
  border-radius: inherit;
}
