footer {
  min-height: fit-content;
  padding: var(--tiny-spacing-inline);
  background: linear-gradient(to bottom, transparent 0%, var(--secondary) 75%);
}

/* --- CONTACT CARD --- */
.card.contact {
  width: 100%;
  height: 100%;
  min-height: inherit;
  padding: var(--spacing-inline);
  gap: 1rem;
  cursor: default;
}

.contact .lead {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
}

/* --- CONTENT SECTIONS --- */
.tagline-container,
.newsletter-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tagline-container {
  flex: 5;
  display: none;
}

.newsletter-container {
  flex: 3;
  gap: 1rem;
}

.newsletter-input {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* --- SOCIALS & LEGAL --- */
.socials-container,
.legal-container,
.social-media-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.social-media-links {
  width: 100%;
  justify-content: space-between;
  gap: 0.5rem;
}

.socials-container {
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
  border-top: var(--border);
  text-align: center;
}

.socials-container * {
  width: 100%;
}

.legal-link {
  transition: color 0.6s ease;
}

.legal-link:hover * {
  color: var(--primary);
}

/* --- RESPONSIVE --- */
@media (min-width: 768px) {
  footer {
    min-height: 60vh;
  }

  .card.contact {
    padding: calc(var(--spacing-inline) - var(--tiny-spacing-inline));
  }

  .tagline-container {
    display: flex;
  }

  .socials-container {
    justify-content: space-between;
  }

  .socials-container * {
    width: fit-content;
  }

  .legal-container {
    gap: 2rem;
  }

  .social-media-links {
    width: fit-content;
  }
}
