header,
header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

header {
  z-index: 999;
  position: sticky;
  top: 0;
  padding: 0.75rem var(--spacing-inline);
  background-color: transparent;
  transition: background-color 0.6s ease, box-shadow 0.6s ease,
    transform 0.4s ease;
}
header.hidden {
  transform: translateY(-100%);
}
header.scrolled {
  background-color: rgba(var(--secondary-rgb), 1);
  box-shadow: 0 4px 20px rgba(var(--secondary-rgb), 0.2);
}
header.scrolled * {
  color: var(--on-secondary);
}

header .logo img {
  height: 100%;
  max-height: 40px;
  aspect-ratio: 1;
}
