.menu,
.menu-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.menu.open {
  height: 100%;
  justify-content: space-evenly;
}

.menu-item {
  cursor: pointer;
  transition: color 0.3s ease;
}
.menu-item p {
  color: inherit;
  font-size: 1.25rem;
}
.menu-item:hover p {
  text-decoration: underline;
}
.menu-item.active p {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.menu-wrapper {
  width: 100%;
}

.menu-separator {
  display: none;
  color: var(--n300);
}

/* Tablet and up*/
@media (min-width: 768px) {
  .menu,
  .menu-wrapper {
    flex-direction: row;
    width: fit-content;
  }

  .menu-item p {
    font-size: inherit;
  }

  .menu-separator {
    display: flex;
  }
}
