#root {
  width: 100vw;
  margin: 0;
  text-align: center; /* by default */
}

.app-container {
  background: var(--bg);
  backdrop-filter: blur(10px);
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
  text-align: start;

  /* Background image styles */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
}

.page.load-status {
  height: 100%;
  min-height: 100vh;
  justify-content: center;
}

.page > div:not(.fade-in) {
  width: inherit;
}

/* Global style for cards */
.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 1.5rem;
  color: var(--n700);
  background-color: var(--card);
  border: var(--border);
  text-align: start;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Global style for cards containers */
.cards-container,
.cards-container.grid2,
.cards-container.grid3,
.cards-container.grid4 {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr;
  gap: 0.75rem;
}

.cards-container.row,
.cards-container.col {
  display: flex;
  align-items: stretch;
}

.cards-container.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.cards-container.col {
  flex-direction: column;
}

.cards-container.title {
  justify-content: space-between;
}

.cards-container.flex1 > div {
  flex: 1;
}

/* Tablet and up */
@media (min-width: 768px) {
  .cards-container.grid2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .cards-container, /* defalut is grid 3 */
  .cards-container.grid3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .cards-container.grid4 {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Remove bottom gap if last row is full */
  .cards-container.grid2:has(:nth-child(2n):last-child),
  /* .cards-container.grid3:has(:nth-child(3n):last-child), */
  .cards-container.grid4:has(:nth-child(4n):last-child) {
    row-gap: 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}

/* Dekstop hover (optional but classy) */
@media (hover: hover) and (pointer: fine) {
  .card:hover,
  .fade-in.card:hover {
    transform: translateY(-4px);
  }
}
