.search-input-wrapper {
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(var(--n700-rgb), 0.2);
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  transition: border-color 0.4s ease;
  width: fit-content;
}

.search-input-wrapper.full {
  width: 100%;
}

.search-input-wrapper:focus-within {
  border-color: var(--n400);
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: var(--small-p);
  background-color: transparent;
  color: var(--text);
  min-width: 0;
  font-family: var(--heading);
}
.search-input::placeholder {
  color: var(--text);
  opacity: 1;
}

.search-icon-btn {
  background: none;
  border: none;
  padding: 0;
  margin-left: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: transform 0.4s ease;
}

.search-icon {
  transition: opacity 0.4s ease, transform 0.4s ease;
  fill: var(--text);
}

.fade-search {
  opacity: 1;
  transform: rotate(0deg);
}

.fade-x {
  opacity: 1;
  transform: rotate(180deg);
  fill: var(--text);
}
