.input-wrapper {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input-wrapper.full-width {
  width: 100%;
}

.input-wrapper label {
  color: var(--n700);
}

.custom-input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  border: 1px solid var(--n600);
  background-color: var(--card);
  color: var(--n700);
  font-family: var(--heading);
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-input:focus {
  outline: none;
  border-color: var(--secondary);
  box-shadow: 0 0 0 1px var(--n600);
}

.range-input:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

.custom-input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.input-container {
  position: relative;
  width: 100%;
  height: 40px;
}

.eye-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  right: 1rem;
  top: 50%;

  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--n600);

  padding: 0;
}

.eye-toggle svg {
  width: 1.25rem;
  height: 1.25rem;
}

.custom-input.resizable {
  resize: vertical;
  overflow: auto;
}

.custom-input.resizable.full {
  resize: both;
}

.range-input {
  cursor: pointer;
  padding: 0;
}
