.loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  inset: 0;
  z-index: 10;
  max-width: unset;
  position: relative;
  background-color: transparent;
  border-radius: inherit;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 3px solid rgba(var(--primary-rgb), 0.2);
  border-top: 3px solid rgba(var(--primary-rgb), 0.9);
  border-radius: 100%;
  animation: spin 1s cubic-bezier(0.6, 0.2, 0.4, 0.8) infinite;
  box-shadow: 0px 0px 10px rgba(var(--primary-rgb), 0.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
